.card {
  width: 240px;
  height: 320px;
  margin: 20px;
  background-color: aquamarine;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.06);
    transition: 0.3s ease-in-out;
  }
}
