.navbar {
  height: 60px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #4d647833;

  .navbar-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;

      .logo-img {
        width: 32px;
        height: 32px;
      }

      .logo-text {
        margin-left: 8px;
        font-size: 24px;
        font-weight: 600;
      }
    }

    .menu {
      div {
        display: inline-block;
        width: 100px;
      }
    }
  }
}
